.form__validation-error
  p.form__error-message При регистрации произошли ошибки:
  ul.form__errors
    li.form__error Пароль не может состоять из двух букв
    li.form__error Фамилия не должна быть смешной
